In [58]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

1. Ano com maior quantidade de mortes
1. Longevidade
1. Clube dos 27 (pessoas que morreram com 27 anos)

In [59]:
df = pd.read_csv('AgeDataset-V1.csv')
df

,Id,Name,Short description,Gender,Country,Occupation,Birth year,Death year,Manner of death,Age of death
0,Q23,George Washington,1st president of the United States (1732–1799),Male,United States of America; Kingdom of Great Bri...,Politician,1732,1799.0,natural causes,67.0
1,Q42,Douglas Adams,English writer and humorist,Male,United Kingdom,Artist,1952,2001.0,natural causes,49.0
2,Q91,Abraham Lincoln,16th president of the United States (1809-1865),Male,United States of America,Politician,1809,1865.0,homicide,56.0
3,Q254,Wolfgang Amadeus Mozart,Austrian composer of the Classical period,Male,Archduchy of Austria; Archbishopric of Salzburg,Artist,1756,1791.0,NaN,35.0
4,Q255,Ludwig van Beethoven,German classical and romantic composer,Male,Holy Roman Empire; Austrian Empire,Artist,1770,1827.0,NaN,57.0
...,...,...,...,...,...,...,...,...,...,...
1223004,Q77247326,Marie-Fortunée Besson,Frans model (1907-1996),NaN,France,Tailor; model,1907,1996.0,NaN,89.0
1223005,Q77249504,Ron Thorsen,xugador de baloncestu canadianu (1948–2004),NaN,Canada; United States of America,Athlete,1948,2004.0,NaN,56.0
1223006,Q77249818,Diether Todenhagen,German navy officer and world war II U-boat co...,NaN,Germany,Military personnel,1920,1944.0,NaN,24.0
1223007,Q77253909,Reginald Oswald Pearson,"English artist, working in stained glass, prin...",Male,United Kingdom,Artist,1887,1915.0,NaN,28.0
1223008,Q77254864,Horst Lerche,German painter,Male,Germany,Artist,1938,2017.0,NaN,79.0

In [6]:
df.nunique()

Id                   1222997
Name                 1130871
Short description     512439
Gender                    20
Country                 5961
Occupation              9313
Birth year              2173
Death year              2253
Manner of death          206
Age of death             130
dtype: int64

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1223009 entries, 0 to 1223008
Data columns (total 10 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   Id                 1223009 non-null  object
 1   Name               1223009 non-null  object
 2   Short description  1155109 non-null  object
 3   Gender             1089363 non-null  object
 4   Country            887500 non-null   object
 5   Occupation         1016095 non-null  object
 6   Birth year         1223009 non-null  int64
 7   Death year         1223008 non-null  float64
 8   Manner of death    53603 non-null    object
 9   Age of death       1223008 non-null  float64
dtypes: float64(2), int64(1), object(7)
memory usage: 93.3+ MB

In [38]:
df.describe()

         Birth year    Death year  Age of death
count  1.223009e+06  1.223008e+06  1.223008e+06
mean   1.844972e+03  1.914246e+03  6.927406e+01
std    1.479390e+02  1.516898e+02  1.662938e+01
min   -2.700000e+03 -2.659000e+03  0.000000e+00
25%    1.828000e+03  1.895000e+03  6.000000e+01
50%    1.887000e+03  1.955000e+03  7.200000e+01
75%    1.918000e+03  1.994000e+03  8.100000e+01
max    2.016000e+03  2.021000e+03  1.690000e+02

In [25]:
df['Age of death'].value_counts()

80.0     32837
77.0     32535
78.0     32503
76.0     32484
74.0     32338
         ...
122.0        1
126.0        1
130.0        1
121.0        1
127.0        1
Name: Age of death, Length: 130, dtype: int64

In [53]:
df['Gender'].value_counts()

Male      981365
Female    107830
Outros       168
Name: Gender, dtype: int64

In [60]:
#Adicionando demais Generos na condição Outros
df.loc[df['Gender'] == 'Transgender Female', 'Gender'] = 'Outros'
df.loc[df['Gender'] == 'Transgender Male', 'Gender'] = 'Outros'
df.loc[df['Gender'] == 'Eunuch; Male', 'Gender'] = 'Outros'
df.loc[df['Gender'] == 'Intersex', 'Gender'] = 'Outros'
df.loc[df['Gender'] == 'Female; Male', 'Gender'] = 'Outros'
df.loc[df['Gender'] == 'Eunuch', 'Gender'] = 'Outros'
df.loc[df['Gender'] == 'Transgender Male; Female', 'Gender'] = 'Outros'
df.loc[df['Gender'] == 'Non-Binary', 'Gender'] = 'Outros'
df.loc[df['Gender'] == 'Intersex; Male'] = 'Outros'
df.loc[df['Gender'] == 'Transgender Female; Male'] = 'Outros'
df.loc[df['Gender'] == 'Transgender Person; Intersex; Transgender Male'] = 'Outros'
df.loc[df['Gender'] == 'Non-Binary; Intersex'] = 'Outros'
df.loc[df['Gender'] == 'Intersex; Female'] = 'Outros'
df.loc[df['Gender'] == 'Transgender Female; Female'] = 'Outros'
df.loc[df['Gender'] == 'Intersex; Transgender Male'] = 'Outros'
df.loc[df['Gender'] == 'Transgender Female; Intersex'] = 'Outros'
df.loc[df['Gender'] == 'Transgender Male; Male'] = 'Outros'
df.loc[df['Gender'] == 'Female; Female'] = 'Outros'

In [68]:
plt.figure(figsize = (16,8))

sns.scatterplot(data = df,
               x='Age of death',
               y='Occupation',
               hue='Sex')
             

plt.title('Passageiros por Classe e Número de Filhos', fontsize=45)

plt.xlabel('Ocupação')

plt.ylabel('Idade')

plt.grid()

plt.show()

ValueError: Could not interpret value `Sex` for parameter `hue`